.Services .container {
  padding: 0;
}

.Services-wrapper {
  background-image: url("/services-bg.png");
  background-position: center;
  background-size: cover;
}

@media (max-width: 650px) {
  .Services-wrapper p {
    font-size: 1.5rem !important;
  }
  .Services-buttons {
    gap: 2rem !important;
  }
}

@media (max-width: 480px) {
  .Services-wrapper {
    padding-bottom: 10rem;
  }
  .Services-buttons {
    margin-top: 100px !important;
  }
}
