.Hero-primary {
  position: absolute;
  width: calc(50% - 12rem);
  height: auto;
  top: 50%;
  right: 12rem;
  transform: translateY(-50%);
}

.Hero-primary h2 {
  line-height: 0.95;
}
.Hero-primary p {
  line-height: 1.5;
}

/* position: absolute;
width: calc(50% - 12rem);
height: auto;
top: 50%;
right: 12rem;
transform: translateY(-50%); */
