.Header-wrapper ul {
  display: flex;
}

/* @media (max-width: 1024px) {
  .Header-wrapper ul {
    display: none;
  }
} */

@media (max-width: 768px) {
  .logo {
    display: none;
  }
}

@media (max-width: 480px) {
  .Header-menu {
    justify-content: center !important;
  }
  .Header-menu-links {
    margin-right: 0 !important;
  }
  .Header-menu-links a {
    margin-right: 0 !important;
    font-size: 1rem;
  }
  .socials-menu {
    display: none !important;
  }
}
