.Header-wrapper {
}
.Header-menu-links {
  pointer-events: all !important;
}

.Header-wrapper ul {
  display: flex;
}

@media (max-width: 600px) {
  .Header-wrapper {
    margin: 0 !important;
  }

  .socials-wrapper {
    justify-content: flex-end !important;
  }

  .socials-logo {
    display: none !important;
  }
}

@media (max-width: 480px) {
  .Header-menu {
    justify-content: center !important;
  }
  .Header-menu-links {
    margin-left: 0 !important;
  }
  .Header-menu-links a {
    margin-left: 0 !important;
    font-size: 1rem;
  }
  .socials-menu {
    display: none !important;
  }
}
