.Menu-wrapper ul li {
  line-height: 1.1;
}
.Menu-wrapper ul li a {
  /* line-height: 1.1; */
}

.Menu-wrapper ul li a:hover {
  color: white;
}

.logo {
  transition: all 5s;
}

@media (max-width: 850px) {
  .nav-menu-start-project h3,
  .nav-menu-start-project hr {
    display: none;
  }
}

@media (max-width: 600px) {
  .nav-menu-start-project button {
    display: none;
  }
}

@media (max-width: 480px) {
  .Menu-wrapper {
    padding: 0;
  }
  .Menu-wrapper .logo {
    left: 0;
  }
  .Menu-wrapper ul {
    left: 5%;
  }
  .Menu-wrapper ul a {
    /* font-size: 2.5rem; */
    line-height: 1.2;
  }
}

@media (max-height: 600px) {
  .Menu-wrapper {
    height: 100vh !important;
    padding-top: 0 !important;
  }

  .Menu-wrapper ul {
    margin: 0 !important;
  }

  .Menu-wrapper ul li a {
    font-size: 3rem !important;
    line-height: 1;
  }
}

@media (max-height: 510px) {
  .Menu-wrapper {
    height: 125vh !important;
  }
}

@media (max-height: 400px) {
  .Menu-wrapper {
    height: 150vh !important;
  }
}
