@font-face {
  font-family: "sofia-medium";
  src: url("./assets/fonts/SofiaSans-Medium.woff2") format("woff2"),
    url("./assets/fonts/SofiaSans-Medium.woff") format("woff"),
    url("./assets/fonts/SofiaSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "sofia-bold";
  src: url("./assets/fonts/SofiaSans-Bold.woff2") format("woff2"),
    url("./assets/fonts/SofiaSans-Bold.woff") format("woff"),
    url("./assets/fonts/SofiaSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "sofia";
  src: url("./assets/fonts/SofiaSans-Regular.woff2") format("woff2"),
    url("./assets/fonts/SofiaSans-Regular.woff") format("woff"),
    url("./assets/fonts/SofiaSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "sofia-black";
  src: url("./assets/fonts/SofiaSans-Black.woff2") format("woff2"),
    url("./assets/fonts/SofiaSans-Black.woff") format("woff"),
    url("./assets/fonts/SofiaSans-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "circular";
  src: url("./assets/fonts/CircularStd-Medium.woff2") format("woff2"),
    url("./assets/fonts/CircularStd-Medium.woff") format("woff"),
    url("./assets/fonts/CircularStd-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
