@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 8px;
}

/* Track */
html::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
html::-webkit-scrollbar-thumb {
  background: #f74ea1;
  border-radius: 20px;
}

.container {
  width: 1920px;
  max-width: 100%;
  margin: 0 auto;
}
