@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid green; */
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 8px;
}

/* Track */
html::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
html::-webkit-scrollbar-thumb {
  background: #a08ce8;
  border-radius: 20px;
}

.container {
  width: 1920px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.services-li::before {
  content: "•";
  position: absolute;
  left: 10px;
}
